body {
  display: flex;
  flex-direction: column;
}

label {
  vertical-align: middle;
}

input[type="checkbox"] {
  vertical-align: middle;
}

.arrow {
  font-size: 140%;
}
.nowrap {
  white-space: nowrap;
}

.participant_div {
  height: 240px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 25px;
  /* backdrop-filter: blur(5px); */
} 

.obs_participant_div {
  width: 32%;
  height: 25%;
  /* padding-top: 24%; */
  /* position: relative; */
  margin: 10px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 25px;
} 

.participant_video {
  height: 100%;
  width: 100%;
  /* position: absolute; */
  border-radius: 25px;
} 

.drunk {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.participant_name_div {
  height:25;
}

.x_icon_style {
  height:25;
  width:25;
  float: right;
}

#outgoing-cam-streams-ctrl {
  margin-left: 0.5em;
  margin-top: 0.5em;
  font-family: monospace;
  font-size: 80%;
}

#camera-producer-stats {
  margin-left: 1.5rem;
}

#local-control {
  flex: none;
}

#join-control, #camera-control {
  display: inline-block;
  vertical-align: top;
}

#join-button {
  vertical-align: top;
}

#stop-streams {
  display: none;
}

#camera-info {
  margin-left: 2em;
  font-family: monospace;
  font-size: 80%;
}

#leave-room {
  display: none;
  float: right;
}

#available-tracks {
  flex: none;
  font-family: monospace;
  margin-top: 1em;
}

.track-subscribe > * {
  margin-right: 1.5em;
}
.track-subscribe > *:not(:first-child) {
  font-family: monospace;
  font-size: 80%;
}

#remote-video-obs {
  padding: 5px;
  display: flex;
  height: 100%;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}
#remote-video {
  padding: 5px;
  height: 100%;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20%;
  grid-row-gap: 10%;
}

#remote-audio {
  display: none;
}

.track-ctrl > div {
  display: inline;
}
.track-ctrl * {
  vertical-align: middle;
}

.speaker {
  /* background-color: yellow; */
  border: 5px solid rgb(255, 238, 0);
}

#local-screen-pause-ctrl {
  display: none;
}

#local-screen-audio-pause-ctrl {
  display: none;
}
