body {
  display: flex;
  flex-direction: column;
}

label {
  vertical-align: middle;
}

input[type="checkbox"] {
  vertical-align: middle;
}

.arrow {
  font-size: 140%;
}
.nowrap {
  white-space: nowrap;
}

.obs_participant_div {
  height: 300px;
  width: 400px;
  margin: 10px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 25px;
} 

.participant_div {
  height: 25%;
  width: 30%;
  margin: 10px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 25px;
} 

.participant_video {
  height: 100%;
  width: 100%;
  border-radius: 25px;
} 

.participant_name_div {
  height:25;
}

.x_icon_style {
  height:25;
  width:25;
  float: right;
}

#outgoing-cam-streams-ctrl {
  margin-left: 0.5em;
  margin-top: 0.5em;
  font-family: monospace;
  font-size: 80%;
}

#camera-producer-stats {
  margin-left: 1.5rem;
}

#local-control {
  flex: none;
}

#join-control, #camera-control {
  display: inline-block;
  vertical-align: top;
}

#join-button {
  vertical-align: top;
}

#stop-streams {
  display: none;
}

#camera-info {
  margin-left: 2em;
  font-family: monospace;
  font-size: 80%;
}

#leave-room {
  display: none;
  float: right;
}

#available-tracks {
  flex: none;
  font-family: monospace;
  margin-top: 1em;
}

.track-subscribe > * {
  margin-right: 1.5em;
}
.track-subscribe > *:not(:first-child) {
  font-family: monospace;
  font-size: 80%;
}

#remote-video-obs {
  flex-grow: 1;
  margin-top: 1em;
  min-height: 300px;
  border: 1px dashed black;
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#remote-video-obs1 {
  padding: 5px;
  display: flex;
  height: 100vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

#remote-video {
  padding: 5px;
  display: flex;
  height: 100%;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

#remote-audio {
  display: none;
}

.track-ctrl > div {
  display: inline;
}
.track-ctrl * {
  vertical-align: middle;
}

.speaker {
  /* background-color: yellow; */
  border: 3px solid rgb(255, 208, 0);
}

#local-screen-pause-ctrl {
  display: none;
}

#local-screen-audio-pause-ctrl {
  display: none;
}
